extends: default

rules:
  line-length: disable
  truthy: disable
  # Jekyll data files often don't have --- start
  document-start: disable
  # We prefer { name: "foo" } over {name: "foo"} for readability
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1

ignore: |
  vendor/
  _site/
  .git/
  node_modules/
