// _sass/_container.scss

.content-container {
  width: 100%;
  max-width: 1900px; // Or any other max-width you prefer
  margin-left: auto;
  margin-right: auto;
  padding-inline: clamp(15px, 1.25rem, 30px);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
