// _sass/_container.scss

.content-container {
  width: 100%;
  max-width: 1900px; // Or any other max-width you prefer
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
