// Debug Floating Button
.debug-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050; // Ensure it's above other elements
}

// Debug Modal
#debug-modal .modal-dialog {
  max-width: 800px;
}

#debug-modal .modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.debug-outline * {
  outline: 1px solid $heidelberg-red;
}